html { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(255, 253, 248);
  text-align: -webkit-center;
}

html, body, div#root, .router-div {
  height: 100%;
  width: 100%;
}

.content {
  width: 800px;
}



a {
  color: rgb(255, 244, 95);
  text-decoration: none; 
}

a:hover {
  color: rgb(255, 253, 234);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
} 

table {
  background: rgba(20, 20, 20, 0.8);
  text-align: center;
  margin: 20px 0px
}

.content {
  background: rgba(20, 20, 20, 0.8);
}

button, input {
  margin: 0px 20px
}

td {
  padding: 0px 12px
}

tr {
  height: 2.5em;
}


tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, .05)
}

tbody tr:hover {
  background: rgba(255, 255, 255, .1)
}