
.content {    
    min-height: calc(100% - 50px - 20px);
    min-height: -o-calc(100% - 50px - 20px);
    min-height: -moz-calc(100% - 50px - 20px);
    min-height: -webkit-calc(100% - 50px - 20px);
    padding-top: 50px;
    padding-bottom: 20px;
	margin-bottom: -32px; 
}

.footer-div, .content:after {
	height: 32px; 
}

.content:after {
    content: '';
    display: block;
}




.footer-div {
    background-color: #333;
    left: 0;
    width: 100%;
    text-align: center;
    text-align: -o-center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.footer {
    display: table;
    height: 100%;
    width: 800px;
}

.footer-copyright {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: left;
}

.footer-links {
    display: table-cell;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: right;
}