.header-div {
  background-color: #333;
  left: 0;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: white;
  height: 32px;
  position: fixed;
  text-align: -webkit-center;
}

.header {
  height: 32px;
  display: table;
  width: 800px; /* Full width */
}

.header-icon {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.header-title {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.header-menu {
  display: table-cell; vertical-align: middle;
  text-align: center;
  padding: 0;
}

.steam-login {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.steam-login ul {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.login-with-steam {
  max-height: 32px;
}

.steam-avatar {
  height: 32px;
}

.content {
  text-align: -webkit-center;
}