.header-div {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.header-title {
  font-size: 1.5em;
}

.header-menu {
}

.header-menu-link {
  padding-left: 20px;
}

img {
  height: 2.5em;
}

td {
  padding-top: 0px;
  padding-left: 10px;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}