.header-div {
  background-color: #333;
  left: 0;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: white;
  height: 40px;
  position: fixed;
  text-align: -webkit-center;
}

.header {
  height: 40px;
  display: table;
  width: 800px; /* Full width */
}

.header-title {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.header-menu {
  display: table-cell; vertical-align: middle;
  text-align: center;
  padding: 0;
}

.steam-login {
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.steam-login ul {
  height: 40px;
  display: table-cell; vertical-align: middle;
  padding: 0;
}

.steam-login li {
  height: 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
}

.content {
  text-align: -webkit-center;
}